.jumbotron {
  padding-top: 8rem;
  background-color: #fbf37c;
}

#projects {
  padding-top: 8rem;
  background-color: #ffd700;
}

#contact {
  padding-top: 8rem;
  background-color: #0099ff;
}

section {
  padding-top: 8rem;
}
